
.protection {

  margin: 165px 0 295px 0;
  position: relative;

  &__inner {

    display: grid;
    grid-template-columns: 1fr 1fr;

  }

  &__form {

    &_title {

      display: flex;
      padding: 0 0 73px 0;
      width: 700px;
      font-family: sans-serif;
      font-size: 64px;
      font-weight: 700;
      line-height: 103px;


      a {

        color: #232336;
        padding: 0 77px 0 0;

      }
    }

    &_text {

      width: 700px;
      color: #5a5a89;
      font-family: sans-serif;
      font-size: 19px;
      font-weight: 700;
      line-height: 30px;
      margin-bottom: 35px;

    }

    &_col {

      position: relative;

    }

    &_item {

      vertical-align: top;
      position: relative;

    }

    &_input {

      font-family: sans-serif;
      font-weight: 700;
      font-size: 1.429em;

      margin: 0 0 32px 0;
      padding: 22px 0 0 34px;
      width: 695px;
      height: 89px;

      color: #5a5a89;
      border-radius: 24px;
      border: 1px solid #dedee7;
      transition: 300ms;

      &:focus + label,
      &:not(:placeholder-shown) + label {

        top: 19px;

      }

      &:focus {

        border: none;
        background-color: #eef1fe;

      }

    }

    &_label {

      height: 19px;
      font-size: 16px;
      color: #bcbfd7;
      font-family: sans-serif;
      font-weight: 700;
      position: absolute;
      pointer-events: none;
      left: 35px;
      transition: .3s;

    }
  }

  &__btn {

    margin: 18px 0 41px 0;
    width: 695px;

    &_start {

      font-family: sans-serif;
      font-size: 24px;
      font-weight: 700;

      padding: 32px 61px;
      border-radius: 20px;
      color: #ffffff;

    }
  }

  &__img-background {

    padding: 0 0 0 10vw;
    max-width: 55vw;
    height: auto;

    position: absolute;
    top: -40px;
    right: -90px;

  }

  @media (min-width: 2560px) {

    &__form {
      &_title {

        width: 100vw;
        height: 7.004830917874397vw;

      }
    }

    &__img-background {

      padding: 0 0 0 10vw;
      max-width: 55vw;
      height: auto;

      position: absolute;
      top: 280px;
      right: -90px;

    }
  }

  @media (max-width: 1440px) {

    margin: 8.59375vw 0 15.364583333333334vw 0;

    &__form {

      &_title {

        padding: 0 0 3.8194444444444446vw 0;
        width: 48.61111111111111vw;
        font-size: 3.3333333333333335vw;
        line-height: 5.364583333333333vw;

        a {

          &:active,
          &:hover,
          &focus {

            color: #0083ff;

          }

          padding: 0 4vw 0 0;

        }
      }

      &_text {

        width: 36vw;
        //height: 54px;
        font-size: 0.9895833333333333vw;
        line-height: 1.5625vw;
        margin-bottom: 1.8229166666666667vw;

      }

      &_input {

        font-size: 1.0416666666666665vw;
        margin: 0 0 2.2222222222222223vw 0;
        padding: 1.5277777777777777vw 0 0 1.8229166666666667vw;
        width: 36vw;
        height: 4.635416666666667vw;
        border-radius: 1.25vw;

        &:focus + label,
        &:not(:placeholder-shown) + label {

          top: 1.3194444444444444vw;

        }
      }

      &_label {

        height: 1.3194444444444444vw;
        font-size: 0.8333333333333334vw;
        left: 1.8229166666666667vw;

      }
    }

    &__btn {
      margin: 0 0 2.1354166666666665vw 0;
      width: 30vw;

      &_start {

        font-size: 1.25vw;
        padding: 1.6666666666666667vw 3.177083333333333vw;
        border-radius: 1.0416666666666665vw;

      }
    }

    &__img-background {

      max-width: 57vw;
      height: auto;
      position: absolute;
      top: -40px;
      right: -75px;

    }
  }

  @media (max-width: 1366px) {
    &__img-background {
      max-width: 60vw;
      top: 130px;
      right: -70px;

    }
  }


  @media (max-width: 1024px) {
    &__img-background {

      max-width: 89vw;
      top: 380px;
      right: -82px;

    }

    @media (orientation: landscape) {
      &__img-background {

        max-width: 63vw;
        top: 60px;
        right: -55px;

      }
    }
  }

  @media (max-width: 768px) {

    &__img-background {

      max-width: 89vw;
      top: 280px;
      right: -63px;

    }
  }

  @media (max-width: 812px) {
    @media(orientation: landscape) {
      &__img-background {

        max-width: 57vw;
        top: -35px;
        right: -40px;

      }
    }
  }

  @media (max-width: 736px) {
    @media(orientation: landscape) {
      &__img-background {

        max-width: 57vw;
        top: -35px;
        right: -35px;

      }
    }
  }

  @media (max-width: 414px) {

    margin: 23vw 0 0 0;

    &__inner {

      display: grid;
      grid-template-columns: 1fr;

    }

    &__form {
      &_title {

        margin: 0 0 5vw 0;
        padding: 0 0 7.487922705314009vw 0;
        width: 72.46376811594203vw;
        font-size: 5.797101449275362vw;
        line-height: 0;

      }

      &_text {

        width: 100%;
        font-size: 2.898550724637681vw;
        line-height: 4.3478260869565215vw;
        margin-bottom: 5.555555555555555vw;

      }

      &_input {

        font-size: 3.864734299516908vw;
        margin: 0 0 5.797101449275362vw 0;
        padding: 5.314009661835748vw 0 0 4.830917874396135vw;
        width: 100%;
        height: 19.082125603864732vw;
        border-radius: 5.797101449275362vw;

        &:focus + label,
        &:not(:placeholder-shown) + label {

          top: 19px;

        }
      }

      &_label {

        height: 4.5893719806763285vw;
        font-size: 2.898550724637681vw;
        left: 5.314009661835748vw;

      }
    }

    &__btn {
      margin: 0 0 7.971014492753622vw 0;
      width: 100%;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      grid-row-gap: 5.314009661835748vw;

      &_start {

        width: 100%;
        font-size: 4.3478260869565215vw;
        padding: 6vw 14.734299516908212vw;
        border-radius: 5.797101449275362vw;

      }
    }

    &__img-background {

      display: none;

    }
  }
}


