$ffNunito: 'Nunito', sans-serif;
$ffRoboto: 'Roboto', sans-serif;
$FFGilroy: 'y';


.fon {
  &__image {
    position: absolute;
    top: -5vw;
    left: 71.7vw;
    z-index: 5;
    width: 77vw;
    height: auto;
  }

}

.start {
  position: relative;

  &__inner {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 9.5vw 0 6.3vw 0;

  }

  &__col {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 10;

  }

  &__item-left {
    position: relative;
z-index: 50;
  }

  &__item-right {
    position: absolute;
    right: -0.9vw;
    top: -0.7vw;
    width: 54vw;
    height: 25.7vw;
    border-radius: 2.3vw;
    background-image: linear-gradient(91deg, rgba(235, 238, 252, 0.45) 0%, rgba(235,238,252, 0.5) 100%);
//z-index: -1;
  }

  &__btn {
    font-size: 1.2vw;

    padding: 1.8vw 3.3vw;
    border-radius: 1vw;
    background-color: #0083ff;

    position: absolute;
    top: 10.6vw;
    left: 34.5vw;

  }

  &__title {
    padding: 3vw 0 1.7vw 0;
    color: #232336;
    font-family: $ffRoboto;
    font-size: 4.5vw;
    font-weight: 700;
    line-height: 5vw;


  }

  &__text {
    font-family: $ffRoboto;
    font-size: 3.5vw;
    font-weight: 700;
    line-height: 4.1vw;

    color: #0083ff;
    padding-bottom: 7vw;

  }

  &__get {
    display: flex;
    align-items: center;
    justify-content: center;

    //font-family: FFGilroy;
    font-size: 1.3vw;
    font-weight: 600;
    max-width: 30vw;
    padding: 1.1vw 0.2vw;
    border-radius: 1vw;

    background: rgba(255, 185, 0, 0.15);
    color: #232336;

    img {
      padding: 0 0.2vw 0 0.8vw;
      z-index: 1;
    }

    span {
      color: #ffb900;

      font-family: $ffNunito;
      font-weight: 700;
      letter-spacing: 0.3vw;
    }
  }


}