
.statistics {
  background-color: #0083ff;

  &__image-two {
    position: absolute;
    right: 8.5vw;
    top: 63vw;
    z-index: 1000;
    width: 9%;
    height: auto;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;

  }

  &__title {
    padding: 10vw 0 5.5vw 0;
    width: 25vw;
    color: #ffffff;
    font-family: $ffNunito;
    font-size: 3vw;
    font-weight: 700;

  }

  &__col {
    padding-bottom: 9vw;

  }

  &__text {
    padding: 0 0 1.5vw 0;
    color: #80c1ff;
    font-family: $ffNunito;
    font-size: 1.7vw;
    font-weight: 700;

  }

  &__num {
    color: #ffffff;
    font-size: 6vw;
    font-weight: 400;
    letter-spacing: 1vw;

  }

  .col__after {
    position: relative;
    left: 10.4vw;

  }

  .text__after {
    width: 129px;
    height: 66px;
    color: #ffffff;

    font-size: 3vw;
    font-weight: 400;

  }

}