@import "./nullstyle";
@import url("../../fonts/font.scss");
//Temp FF=============
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&family=Roboto:wght@500;700&display=swap');
//=======Head Page========
@import "./headPage/header";
@import "./headPage/start";
@import "./headPage/statistics";
@import "./headPage/how-work";
@import "./headPage/get-money";
@import "./headPage/property";
@import "./headPage/footer";
//============Rule of the game=====
@import "./rulePage/ruleGame";
@import "./rulePage/type";
@import "./rulePage/build";
@import "./rulePage/bank";
@import "./rulePage/referral";
@import "./rulePage/startRule";
//=============== web ================
@import "./web44/web44";
@import "./web35/web35";
@import "./web37/web37";
@import "./entrance/entrance";


body, html {
  height: 100%;
  overflow: hidden;
}
body {
  overflow: auto;
}

.container {
  width: 83.30%;
  margin: 0 auto;
}

.wrapper {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.main {
  overflow: hidden;

}