
.wrapper__rule {

  background-color: #0083ff;
}

.type {

  &__row {
    height: 37.5vw;
    border-radius: 2.5vw;
    background-color: rgba(235, 238, 252, 0.1);

  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  &__col {
    display: grid;
    justify-content: center;
    padding: 3vw 0 0 0;

    img {

    }
  }

  &__bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 21.5vw;
    width: 17.5vw;
    border-radius: 2vw;
    background-color: #0083ff;
  }


  &__img1 {
    position: relative;
    top: 2.5vw;
    padding: 0 0 6vw 0;
    width: 10vw;
    height: auto;

  }

  &__img2 {
    position: relative;
    top: 0.6vw;
    padding: 0 0 4vw 0;
    width: 12.3293vw;
    height: auto;
  }

  &__img3 {
    position: relative;
    top: -3.5vw;
    padding: 0 0 0 0;
    width: 10.5vw;
    height: auto;
  }

  &__img4 {
    position: relative;
    top: -3vw;
    width: 7.2793vw;
    margin: -5vw 0 0 0;
    height: auto;
  }


  &__item {
    padding: 0 0 0 0;

  }

  &__title {
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1.4558vw;
    font-weight: 700;

  }

  &__text {
    padding: 1.1373vw 0 0 0;
    color: rgba(255, 255, 255, 0.6);
    font-family: sans-serif;
    font-size: 0.9099vw;
    font-weight: 600;
    line-height: 3.6396vw;

    span {

      padding: 0 0 0 4vw;
      color: #ffffff;
      font-family: sans-serif;
      font-size: 0.9099vw;
      font-weight: 700;

    }
  }

  &__items__text {
    padding: 5vw 0 0 2vw;

    h3 {
      padding: 0 0 2vw 0;
      color: #ffffff;
      font-family: sans-serif;
      font-size: 1.4558vw;
      font-weight: 700;

    }

    p {
      color: #ffffff;
      font-family: sans-serif;
      font-size: 1.0919vw;
      font-weight: 600;
      line-height: 1.6378;

    }
  }

  &__gap {
    position: relative;
left: 7.5vw;
    width: 25vw;
    height: auto;
  }

}